html {
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
}

.cl-lateral {
    background-color: black;
    text-align: center;
    height: 4630px;
    width: 40%;
    padding-right: 8px;
}

.alumni-sans-sc-uniquifier {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 400%;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #bf9663;
    margin-left: 10%;
    text-align: left;
}

.cl-minha-foto {
    Text-align: center;
    margin-top: 10%;
    border: solid #D97016 4px;
    border-radius: 50%;
    width: 100%;
    max-width: 80%;  
    height: auto;
}

.CL-P {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 150%;
    text-align: left;
    margin-left: 10%;
    color: #bf9663;
}

.cl-subtitulo {
    font-family: "Alumni Sans SC", sans-serif;
    color: #D97016;
    margin-left: 10%;
    text-align: left;
    font-size: 270%;

}

.cl-corpo {
    margin-top: 0%;
    height: 4630px;
    width: 60%;
    background-color: #adadad;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

div {
    overflow: hidden;
}

.container {
    display: flex;
}

.alumni-sans-sc-uniquifier-1 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 400%;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    margin-top: 8%;
    margin-left: 10%;
    text-align: left;
    margin-bottom: 0%;
}

hr {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 10%;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 150%;

}

#cursos {
    margin-top: 5%;
}

.alumni-sans-sc-uniquifier-2 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 400%;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    margin-bottom: 0%;
}

.cl-subtitulo2 {
    font-family: "Alumni Sans SC", sans-serif;
    color: black;
    margin-left: 10%;
    text-align: left;
    font-size: 270%;
}

.cl-img-prj {
    margin-left: 10%;
    border: solid 4px #D97016;
    display: block;
    margin-bottom: 10px;
}

.CL-P2 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 150%;
    text-align: left;
    margin-left: 10%;
    color: black;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .cl-lateral {
        width: 100%;
        height: auto; 
        padding: 16px;
    }

    .cl-corpo {
        width: 100%;
        height: auto; 
        padding: 16px;
        margin-right: 16px;
    }
    p{
        margin-right: 20px;
    }
    .cl-img-prj {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 90%;
        height: auto;
}
}
.cl-img-prj {
    margin-left: 10%;
    border: solid 4px #D97016;
    display: block;
    margin-bottom: 10px;
    max-width: 80%; 
    height: auto;
}
